# Contents of /etc/systemd/system/weatherflowtempestsvglogger.service
[Unit]
Description=WeatherflowTempestSVGLogger service
After=network-online.target
Requires=network.target
StartLimitBurst=5
StartLimitIntervalSec=33

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStartPre=/bin/mkdir --parents /var/log/weatherflowtempestsvglogger
ExecStartPre=/bin/mkdir --parents /var/www/html/weatherflowtempestsvglogger
ExecStartPre=/bin/mkdir --parents /var/cache/weatherflowtempestsvglogger
ExecStart=/usr/local/bin/WeatherflowTempestSVGLogger \
    --verbose 0 \
    --log /var/log/weatherflowtempestsvglogger \
    --time 300 \
    --svg /var/www/html/weatherflowtempestsvglogger --minmax 15 \
    --cache /var/cache/weatherflowtempestsvglogger
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
